.concept {
        border: 2px transparent /*solid orange*/;
        position: absolute;
        z-index:3;
}

.concept .gwt-TextBox-readonly {
    border: none;
    box-shadow: none;
}

.template .gwt-TextBox-readonly {
    border: none;
    box-shadow: none;
}

.concept-button {
    visibility: hidden;
}

.concept-over .concept-button {
    visibility: visible;
}

.debug {
        border: 3px dotted red;
}

.concept-over {
        border: 2px dashed blue;
        position: absolute;
        z-index:2;
}

.template {
        border: 2px dotted grey;
        position: absolute;
        z-index:2;
}