.koweybox {
        /*border: 2px dashed red;*/
        position: relative;
        z-index:2;
}

.concept {
        border: 2px transparent;
        position: absolute;
        z-index:2;
        padding-bottom: -1px;
}

.concept .gwt-TextBox-readonly {
    border: none;
    box-shadow: none;
}

.template .gwt-TextBox-readonly {
    border: none;
    box-shadow: none;
}

.concept-button {
    display: none;
}

.concept-over .concept-button {
    display: inline;
}

.concept-over {
        border: 2px dashed blue;
        position: absolute;
        z-index:2;
        padding-bottom: -1px;
}

.template {
        border: 2px dotted grey;
        position: absolute;
        z-index:2;
        padding-bottom: -1px;
}